<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <!--  <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-4.6.0-dist/css/bootstrap.css' /> -->
   <%- include('imports'); -%>
  </head>
 
  <body>
    <%- include('navbar'); -%>
       <!-- <h1><%= title %></h1> -->
       <!--  <p>Sejam bem vindos a <%= title %></p> -->
     <%- include('carrocel'); -%>
    <%- include('featurettes'); -%>
    <%- include('footer'); -%>
  </body>
</html>
