<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('imports'); -%>
</head>

<body>
  <%- include('navbar'); -%>
    <%- include('carrocel'); -%>
      <%- include('featurettes'); -%>
        <%- include('footer'); -%>
</body>

</html>